def MAX_MEMORY = System.getenv("NXF_EXECUTOR_MEMORY") ?: '200.GB'
def MAX_CPU = System.getenv("NXF_EXECUTOR_CPU") ?: '64'

params {
  // Defaults only, expecting to be overwritten
  max_memory = MAX_MEMORY
  max_cpus = MAX_CPU
  max_time = '24h'
  outdir = './results'
  tracedir = "./pipeline_info"
  inputdir ='/home/zeynull/projects/izs-llm-validation/inputdir'
  report_dir = "./pipeline_info"
  timeline_dir = "./pipeline_info"
  dag_dir = "./pipeline_info"
  assets_dir = "${projectDir}/assets"
  hosts_dir = '/dummy/hosts'
  host = '/dummy/hosts'
  use_run_date = false
  always_retry = false
  max_retries = 2
  full_output = false
  error_strategy_after_retries = 'finish'
  check_file_existence = true
  step_1PP_trimming__chopper__minlength = 500
  step_1PP_trimming__chopper__quality = 10
  step_2AS_denovo__flye__genome_size = ''
  step_2AS_denovo__flye__meta = false
  step_2AS_filtering__seqio = '1000'
  step_2AS_hybrid__unicycler__mode = 'normal'
  step_2AS_mapping__ivar___q = 20
  step_3TX_class__centrifuge__db_name = 'dummy'
  step_3TX_class__centrifuge__db_path = '/dummy/centrifuge_db'
  step_3TX_class__kraken__db_bracken = '/dummy/bracken_db'
  step_3TX_class__kraken__db_kraken = '/dummy/kraken_db'
  step_3TX_class__kraken2__db = '/dummy/kraken2_db'
  step_3TX_species__blast___blastdb = ''
  step_3TX_species__blast___num_threads = 64
  step_3TX_species__kmerfinder__dbs = '/dummy/kmerfinder_db'
  step_3TX_species__kmerfinder__db = '/dummy/kmerfinder_db'
  step_3TX_species__vdabricate__db = '/dummy/vdabricate_db'
  step_4AN_AMR__blast__db_name = ''
  step_4AN_AMR__blast__db_path = ''
  step_4TY_lineage__westnile___references = "westnile_lineage_references.json"
  step_4TY_lineage__westnile___threshold = 0.85
  step_4TY_MLST__mlst___excluded_schemas = 'ecoli,abaumannii,vcholerae_2,flaA'
  module_obitools__trimmomatic_min_len = 50
  module_obitools__trimmomatic_sliding_window = '10:20'
  module_obitools__illuminapairedend_score_min = '40'
  module_obitools__obiclean_d = '1'
  module_obitools__obiclean_r = '0.05'
  module_obitools__blast_evalue = '0.0001'
  module_obitools__blast_identity= '0.97'
  multi_pangenome__panaroo__clean_mode = 'strict'
  multi_pangenome__panaroo__threshold = '0.95'
  multi_pangenome__panaroo__family_threshold = '0.7'
  multi_pangenome__panaroo__len_dif_percent = '0.98'
  multi_pangenome__panaroo__threads = 32
  multi_pangenome__panaroo__extra = ''
  multi_clustering__augur__align_extra = ''
  multi_clustering__augur__ancestral_extra = ''
  multi_clustering__augur__ancestral_inference = 'joint'
  multi_clustering__augur__export_extra = ''
  multi_clustering__augur__refine_coalescent = 'opt'
  multi_clustering__augur__refine_extra = ''
  multi_clustering__augur__traits_columns = 'region'
  multi_clustering__augur__traits_extra = ''
  multi_clustering__augur__translate_extra =''
  multi_clustering__augur__tree_method = 'iqtree'
  multi_clustering__augur__tree_extra = ''
  multi_clustering__reportree__input = 'alleles'
  multi_clustering__reportree__sample_of_interest = ''
  multi_clustering__reportree__zoom_cluster_of_interest = ''
  multi_clustering__reportree__thr = ''
  multi_clustering__reportree__extra = ''
  multi_clustering__reportree__report_threshold = ''
  multi_clustering__reportree__HC_threshold = ''
  multi_clustering__reportree__loci_called = ''
  multi_clustering__reportree__site_inclusion = ''
  multi_clustering__reportree__summary_columns = ''
  multi_clustering__reportree__summary_date_aliases = 'none_alias/none_alias'
  multi_clustering__reportree__summary_sample_column = ''
  multi_clustering__reportree__summary_geo_column = ''
  multi_clustering__cfsan__version = '2.0.2'
  skip_checkm = true
  skip_bestref_mapping = false
  raw_reads_threshold = 0
  segmented_mapping = false
  incompatible_step_warning = true
  ncbi_max_download_assembly = '10M'
  ncbi_max_download_sra = '3G'
  allelic_profile_encoding = 'crc32'

  // Module-level params
  analysis_type = "standard"
  coverage = "30"
  identity = "0.9"
  k = "21"
  kmers_size = "16"
  genus_species = "Unknown"
  hosts_dir = "/dummy/hosts"
  target = "genome"
  metadata = "/dummy/metadata.csv"
  geodata = "/dummy/geodata.csv"

  // ---- AUGUR ----
  multi_clustering__augur__align_extra = ''
  multi_clustering__augur__ancestral_extra = ''
  multi_clustering__augur__ancestral_inference = 'joint'
  multi_clustering__augur__export_extra = ''
  multi_clustering__augur__refine_coalescent = 'opt'
  multi_clustering__augur__refine_extra = ''
  multi_clustering__augur__traits_columns = 'country'
  multi_clustering__augur__traits_extra = ''
  multi_clustering__augur__translate_extra = ''
  multi_clustering__augur__tree_method = 'iqtree'
  multi_clustering__augur__tree_extra = ''

  // ---- REPORTEE ----
  multi_clustering__reportree__input = 'alleles'
  multi_clustering__reportree__sample_of_interest = 'S1'
  multi_clustering__reportree__zoom_cluster_of_interest = 'cluster1'
  multi_clustering__reportree__thr = '1'
  multi_clustering__reportree__extra = ''
  multi_clustering__reportree__report_threshold = '1'
  multi_clustering__reportree__HC_threshold = '1'
  multi_clustering__reportree__loci_called = '1'
  multi_clustering__reportree__site_inclusion = '1'

  // must match metadata
  multi_clustering__reportree__summary_columns = 'country'
  multi_clustering__reportree__summary_date_aliases = 'date'
  multi_clustering__reportree__summary_sample_column = 'sample_id'
  multi_clustering__reportree__summary_geo_column = 'country'

  kmers_size = 21
  analysis_type = 'clustering'

  // Reference: SARS-CoV-2 NC_045512.2
  references = [
      [
          cmp: "2022.REF.1.1.1",
          code: "NC_045512.2",
          riscd: "220101-00001-2AS_import-external",
          riscd_genbank: "220101-00001-4AN_genes-external"
      ]
  ]

  cmp = "2026.GENPAT.1.1.1"
  riscd = "260312-80266-0SQ_rawreads-import"
  seq_type = "illumina_paired"
}